@import "./variables";

.paragraphDiv{
    display: flex;
    flex-direction: row;
    img{
        height: 550px;
    }
}

.aboutUsPara{
    font-weight:600;
    line-height: 20px;
}

.para{
    margin: 20px;
}

.innerParaDiv{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 30px;
    justify-content: center;
}

.aboutUs{
    margin-top: 280px;
    margin-bottom:100px;
}

@media (max-width: 425px){
    .aboutUs{
        margin-right: -460px;
    }

    .paragraphDiv{
        display: flex;
        flex-direction: column;
        width:fit-content;
        align-items: center;
        margin: 10px 100px;

        img{
            margin-bottom: 55px;
        }
    }

    .aboutUsPara{
        font-size: 26px;
        line-height: 38px;
    }

    .innerParaDiv{
        width: 743px;
    }
}
