.gallery-img{
    height: 250px;
    width: 250px;
    margin: 20px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 325px 325px 120px; 
    gap: 15px;
    margin: auto 330px;
}

.gallery-div{
   display: flex;
   justify-content: center;
}