.slick-slider {
  margin: 0 auto;
 
  @media only screen and (min-width: 1300px){
   max-width: 1013px;
  }
 }
 
 .sliderContainer {
  width: 100%;
  height: 100%;
 }
 .slide {
 height: 540px;
 width:90%;
 display: block;
  margin-left: auto;
  margin-right: auto;

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;

  }

 }

.slick-prev:before,
.slick-next:before{
  color: black;
  width: 50px;
  height: 50%;
}
 
 .slider--image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
 
 }
 
 .slick-list {
  border-radius: 5px;
 }
  .ourwork{
    display: flex;
    justify-content: center;
    padding: 5em 0em 0em 0em;
    font-size: 30px

  }


  @media (max-width: 425px){
    .ourwork{
      margin-right:-460px;
    }
 
 
    .carouselDiv{
      width: 100%;
    }

    .sliderDiv{
      margin-right: -460px;
    }
 
 
    .slick-slider{
      right: -85px;
      width: 192%;
      padding-top: 0em;
    }
  }

  

