@import "./variables";
@mixin sizing() {
    height:650px;
    width:650px; 
}
@mixin secondSizing(){
    height: 625px;
    width: 730px; 
}

.serviceTopicDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}


.serviceImg{
    @include sizing();
}

.interiorImg{
    @include secondSizing();
}

.flooringImg{
    @include secondSizing();
}

.pressureImg{
    height:685px;
}  

.serviceQuoteBtn{
    background-color: $primaryOrange;
    color: white;
    border-style: none;
    font-weight: 700;
    height: 50px;
    width: 150px;
}

.textsDiv{
    width: 230px;
    margin: 80px;
    .servicePara{
        font-weight:600;
        line-height: 20px;
    }
}

.rightFacing{
    display: flex;
    flex-direction: row-reverse;
}

.pressure2{
    margin-bottom:100px;
}

@media (max-width: 425px){
    .interiorImg{
        height:425px;
        width: 630px;
    }

    .rightFacing{
        width: 232%;
    }

    .serviceImg{
        height: 530px;
        width: 550px;
    }

    .textsDiv{
        width: 250px;
        h3{
            font-size: 35px;
        }

        .servicePara{
            font-weight:600;
            line-height: 33px;
            width: 233px;
            font-size: 24px;
        }
    }

    .serviceQuoteBtn{
        font-size: 22px;
        height: 67px;
        width: 200px;
    }
}

