@import "./variables";
@mixin sizing() {
    height:650px;
    width:650px; 
}
@mixin secondSizing(){
    height: 625px;
    width: 730px; 
}

.serviceTopicDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}


.serviceImg{
    @include sizing();
}

.interiorImg{
    @include secondSizing();
}

.flooringImg{
    @include secondSizing();
}

.pressureImg{
    height:685px;
}  

.serviceQuoteBtn{
    background-color: $primaryOrange;
    color: white;
    border-style: none;
    font-weight: 700;
    height: 50px;
    width: 140px;
}

.textsDiv{
    width: 230px;
    margin: 80px;
    .servicePara{
        font-weight:600;
        line-height: 20px;
    }
}

.rightFacing{
    display: flex;
    flex-direction: row-reverse;
}

.pressure2{
    margin-bottom:100px;
}

